/*
    Every SCSS files will be injected into main HTML page
*/

@import "settings";

body {
  background: #eee;
  font-family: $roboto;
  font-size: 13px;
  color: $font-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    font-size: 13px;
    color: $font-color

  }
}

.banner {
  height: 327px;
  background: url('../images/banner-bg.jpg');
  width: 100%;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 50px;

  @media screen and (max-width: $medium) {
    padding-top: 40px;
    height: 215px;

   
  }
  
  h1 {
    font-family: $roboto_slab;
    font-size: 48px;
    color: #fff;
    @media screen and (max-width: $medium) {
      font-size: 30px;
    }
  }
  
  h2 {
    font-size: 25px;
    color: #fff;
    margin-top: 40px;
    @media screen and (max-width: $medium) {
      font-size: 15px;
    }
  }
}

.title-risk {
  text-align: center;
}

.risk-filter {
  margin: 0 auto;
  div.min, div.max {
    display: inline-block;
    font-size: 11px;
  }
  ul {
    display: inline-block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    li {
        display: inline-block;
        width: 7px;
        cursor: pointer;
        position: relative;
        
        &:after {
          content: '';
          width: 0; 
          height: 0; 
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid $font-color;
          display: block;
          bottom: -10px;
          left: -5px;
          position: absolute;
          display: none;
        }

        &.selected {
          &:after {
            display: block;
          }
        }
        
      &.risk-1 {
        height: risk-height(1);
        background: $risk-1;
      }
      &.risk-2 {
        height: risk-height(2);
        background: $risk-2;
      }
      &.risk-3 {
        height: risk-height(3);
        background: $risk-3;
      }
      &.risk-4 {
        height: risk-height(4);
        background: $risk-4;
      }
      &.risk-5 {
        height: risk-height(5);
        background: $risk-5;
      }
      &.risk-6 {
        height: risk-height(6);
        background: $risk-6;
      }
      &.risk-7 {
        height: risk-height(7);
        background: $risk-7;
      }
      &.risk-8 {
        height: risk-height(8);
        background: $risk-8;
      }
      &.risk-9 {
        height: risk-height(9);
        background: $risk-9;
      }
      &.risk-10 {
        height: risk-height(10);
        background: $risk-10;
      }
      &.risk-11 {
        height: risk-height(11);
        background: $risk-11;
      }
      &.risk-12 {
        height: risk-height(12);
        background: $risk-12;
      }
    }
  }
}




.container {
  padding: 20px;

  .filters {
    width: 100%;
    padding: 10px;

    div {
      padding: 5px;
    }
  }

  .inputs {
    padding: 15px;
    background: #fafafa;

    input[type=range] {
      -webkit-appearance: none;
      margin: 18px 0;
      width: 100%;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      animate: 0.2s;
      background: #dfdfdf;
      border-radius: 1.3px;
      border: 0.2px solid #dfdfdf;
    }
    input[type=range]::-webkit-slider-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 3px solid #000000;
      height: 14px;
      width: 14px;
      border-radius: 30px;
      background: #ffffff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -5px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #dfdfdf;
    }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #3071a9;
      border-radius: 1.3px;
      border: 0.2px solid #010101;
    }
    input[type=range]::-moz-range-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 1px solid #000000;
      height: 36px;
      width: 16px;
      border-radius: 3px;
      background: #ffffff;
      cursor: pointer;
    }
    input[type=range]::-ms-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: #2a6495;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    input[type=range]::-ms-fill-upper {
      background: #3071a9;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    input[type=range]::-ms-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 1px solid #000000;
      height: 36px;
      width: 16px;
      border-radius: 3px;
      background: #ffffff;
      cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: #3071a9;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: #367ebd;
    }


  }

  .time-limit {
    color: #8d8d8d;
    padding: 10px 0;
    font-size: 11px;
    
  }

  .search {
    input {
      border: none;
      border-bottom: 1px solid $font-color;
      font-size: 13px;
      width: 60%;
      padding-left: 0;

      &:focus {
        border-color: #0d548b;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $font-color;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $font-color;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $font-color;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $font-color;
        font-weight: 600;
      }
    }

    i.icon-search {
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url('../images/icons/search.png');
      margin-top: 10px;
      margin-left: -20px;
    }
  }
}

.title {
  width: 100%;
  color: #444;
  font-size: 13px;
  font-family: $roboto;
  font-weight: 600;

  @media screen and (max-width: $medium) {
    width: auto;
  }
}


#sidebar {
  padding-left: 15px;

  @media screen and (max-width: $medium) {
    padding-left: 0;
  }
 

  .card {
    width: 100%;
    height: fit-content;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
      list-style: none;
    }
  }

  

  li.category-li {
    .category {
      background: #fafafa;
      padding: 10px;
      color: $font-color;
      font-size: 13px;
      font-weight: 600;
      position: relative;
  
      span {
        display: block;
        position: absolute;
        padding: 0 0 0px 20px;
        right: 10px;
        top: 2px;
        font-size: 20px;
        color: #bcbcbc;
        cursor: pointer;
        &:before {
          content: '+';
        }
  

      }
    }

    ul.secondary {
      display: none;
      li {
        padding: 10px;
        font-size: 13px;
        color: $font-color;
        border-bottom: 1px solid #ededed;
        input {
          margin-right: 5px;
        }
      }
    }

    &.opened {

      ul.secondary {
        display: block;
      }
      .category span:before {
        content: '-';
      }
    }
  }


}

.table-card {
  padding: 10px 0 0 0 !important;
  margin-bottom: 15px;
}

.has-tip {
  position: relative;
  
  .tooltip {
    display: none;
    position: absolute;
    top: 22px;
    left: -70px;
    background: white;
    border: 1px solid $font-color;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
    z-index: 999;
    width: 200px;

    &:after {
      content: '';
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid $font-color;
      display: block;
      top: -6px;
      left: 72px;
      position: absolute;
    }
    
  }

  &:hover {
    .tooltip {
      display: block;
    }
  }
}

table {
  width: 100%;


  @media screen and (max-width: $medium) {
    tr {
      td, th {
        &:nth-of-type(2), 
        &:nth-of-type(3), 
        &:nth-of-type(4), 
        &:nth-of-type(5),  
        &:nth-of-type(6),
        &:nth-of-type(7) {
          display: none;
        }

      }
    }
  }
  tr {
    border-bottom: 1px solid #eee;

    &:last-of-type {
      border-bottom: none;
    }
    &:first-of-type {
      border: none;
      th {
        padding: 20px 5px;
        font-size: 13px;

        &:first-of-type {
          padding-left: 20px;
        }
      }

    }

    &.fund-row {
      cursor: pointer;
      &:hover {
        background: #fafafa;
      }
    }

    &.conteudo {
      .info {
        padding: 10px 20px;
        justify-content: flex-end; 
        @media screen and (max-width: $medium) { 
          justify-content: flex-start;
        }
        ul li {
          font-weight: 600;

          

          &.mobile {
            display: none;
            @media screen and (max-width: $medium) { 
              display: block;
            }
          }

          &.know {
            margin-top: 50px;
            margin-bottom: 15px;
          }

          a {
            color: $font-color;
            text-decoration: underline;
          }
          span {
            font-weight: 300;
          }
        }
      }
    }

    th, td {
      text-align: right;
      padding: 10px 20px;
      font-size: 13px;
      line-height: 1.2;
      color: $font-color;

      .type {
        color: #9d9d9d;
        font-size: 11px;
        margin-top: 3px;
      }

      &:first-of-type {
        text-align: left;
        padding: 0px 20px 0px 0px;
      }
    }

    &.disabled {
      td {
        color: #bcbcbc;
        .type {
          color: #bcbcbc;
        }
      }
    }

    &.major, &.minor {
      td {
        padding: 20px;
        font-weight: 600;
      }
    }
    
    &.major {
      background: #ededed;
    }

    td .fund{
      margin-right: 15px;
      padding: 10px;
      border-left: 8px solid transparent;
      
      &.risk-1 {
        border-color: $risk-1;
      }
      &.risk-2 {
        border-color: $risk-2;
      }
      &.risk-3 {
        border-color: $risk-3;
      }
      &.risk-4 {
        border-color: $risk-4;
      }
      &.risk-5 {
        border-color: $risk-5;
      }
      &.risk-6 {
        border-color: $risk-6;
      }
      &.risk-7 {
        border-color: $risk-7;
      }
      &.risk-8 {
        border-color: $risk-6;
      }
      &.risk-9 {
        border-color: $risk-9;
      }
      &.risk-10 {
        border-color: $risk-10;
      }
      &.risk-11 {
        border-color: $risk-11;
      }
      &.risk-12 {
        border-color: $risk-12;
      }
      
    }


  }
}


i.icon-info {
  background: url('../images/icons/info.png');
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
}
i.icon-apply {
  background: url('../images/icons/apply.png');
  width: 21px;
  height: 21px;
  display: inline-block;
  cursor: pointer;
}

i.icon-star {
  background: url('../images/icons/star.png');
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
}

i.icon-denied {
  background: url('../images/icons/denied.png');
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}

i.icon-check {
  background: url('../images/icons/check.png');
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
}


.legend {
  padding: 10px;
  ul {
    padding: 10px 0px;

    h5 {
      font-size: 13px;
      font-weight: 600;
      color: $font-color;
    }

    li {
      padding: 5px;
      
      i {
        margin-right: 15px;
        margin-bottom: -4px;
      }
    }
  }
}