<!-- comment -->


---
name: myhome
url:  /home
animationIn:  slideInLeft
animationOut: slideOutRight
controller:  MyHomeController
---

<div class="banner">
    <h1>Lista de Fundos de Investimento</h1>
    <h2>Conheça nossa lista de fundos</h2>
</div>

<div class="grid-block container vertical medium-horizontal">
    <div class="grid-block medium-9 medium-up-1 vertical medium-horizontal order-2 medium-order-1" id="main">
        <div class="grid-block medium-up-1 filters card vertical medium-horizontal">
            <div class="grid-block search">
                <input type="text" ng-model="searchTerm" ng-change="getFunds()" ng-model-options="{ debounce: 300 }" placeholder="Buscar fundo por nome">
                <i class="icon-search"></i>
            </div>
            <div class="grid-block inputs vertical medium-horizontal">
                <div class="grid-block vertical medium-horizontal medium-up-3">
                    <div class="grid-block medium-up-1 ">
                        <div class="title">Aplicação Mínima</div>
                        <div class="grid-block">
                            <input id="min-application" type="range" ng-model="minApplication"  min="100" max="3000000" ng-change="getFunds()">
                        </div>
                        <div class="value">Até R$ {{minApplication}}</div>
    
                    </div>
                    <div class="grid-block medium-up-1 ">
                        <div class="grid-block">
                            <div class="title title-risk">Perfil de risco do fundo</div>
                        </div> 
    
                        <div class="grid-block">
                            <div class="risk-filter">
                                <div class="min">menor</div>
                                <ul>
                                    <li class="risk-1" ng-click="riskSelect(1)" ng-class="{selected: riskFilter == 1}"></li>
                                    <li class="risk-2" ng-click="riskSelect(2)" ng-class="{selected: riskFilter == 2}"></li>
                                    <li class="risk-3" ng-click="riskSelect(3)" ng-class="{selected: riskFilter == 3}"></li>
                                    <li class="risk-4" ng-click="riskSelect(4)" ng-class="{selected: riskFilter == 4}"></li>
                                    <li class="risk-5" ng-click="riskSelect(5)" ng-class="{selected: riskFilter == 5}"></li>
                                    <li class="risk-6" ng-click="riskSelect(6)" ng-class="{selected: riskFilter == 6}"></li>
                                    <li class="risk-7" ng-click="riskSelect(7)" ng-class="{selected: riskFilter == 7}"></li>
                                    <li class="risk-8" ng-click="riskSelect(8)" ng-class="{selected: riskFilter == 8}"></li>
                                    <li class="risk-9" ng-click="riskSelect(9)" ng-class="{selected: riskFilter == 9}"></li>
                                    <li class="risk-10" ng-click="riskSelect(10)" ng-class="{selected: riskFilter == 10}"></li>
                                    <li class="risk-11" ng-click="riskSelect(11)" ng-class="{selected: riskFilter == 11}"></li>
                                    <li class="risk-12" ng-click="riskSelect(12)" ng-class="{selected: riskFilter == 12}"></li>
                                </ul>
                                <div class="max">maior</div>
                            </div>
                            
                        </div>
    
                    </div>
                    <div class="grid-block medium-up-1">
                        <div class="title">Prazo de resgate</div>
                        <div class="grid-block">
                            <input type="range" min="1" max="150" id="time-rescue" ng-model="timeRescue" ng-change="getFunds()">
                        </div>
                        <div class="value">Até {{ timeRescue }} dias</div>
                    </div>
                </div>
            </div>
            <div class="time-limit">Horário limite de aplicação: 12:00</div>
        </div>
        <div class="grid-block card medium-up-1 small-up-1 table-card">
            

            <table>
                <tr>
                        <th>Fundo</th>
                        <th>Data da cota</th>
                        <th>Mês (%)</th>
                        <th>2016 (%)</th>
                        <th>12 M (%)</th>
                        <th>Aplicação mínima (R$)</th>
                        <th>Prazo do resgate</th>
                        <th>Aplicar</th>
                    </tr>

                <tr ng-repeat-start ="t in types" class="major" ng-show="showType(t.name_type)" >
                    <td colspan="8">{{t.name_type}}</td>
                </tr>
                <tr class="minor" ng-show="showClass(key)" ng-repeat-start="(key, values) in t.values">
                    <td colspan="8">{{ key }}</td>
                </tr>
                
                <tr ng-repeat-start="application in values" ng-init="open = false" ng-click="open = !open;" ng-show="showClass(key)"  class="fund-row" >
                    <td >
                        <div class="fund" ng-class="riskClass(application)">
                            <div class="name">{{application.full_name}}</div>
                            <div class="type">{{ application.specification.fund_type }} | {{ application.specification.fund_class }}</div>
                        </div>
                    </td>
                    <td>{{application.quota_date | date : 'dd/MM/yyyy'}}</td>
                    <td>{{application.profitabilities.month}}</td>
                    <td>{{application.profitabilities.year}}</td>
                    <td>{{application.profitabilities.m12}}</td>
                    <td>{{application.operability.minimum_initial_application_amount}}</td>
                    <td>
                        <span class="has-tip">
                            <span class="tooltip">{{application.operability.retrieval_liquidation_days_str}}</span>
                            <i ng-if="application.is_active" class="icon-info"></i> 
                            <i ng-if="application.is_closed" class="icon-denied"></i> 
                        </span>
                    </td>
                    <td ><i class="icon-apply"></i></td>
                </tr >

                <tr class="conteudo" ng-show="open">
                    <td colspan="8">
                        <div class="grid-block">
                            <div class="info right grid-block">
                                <ul>
                                    <li class="mobile">Data da cota: <span>{{application.quota_date | date : 'dd/MM/yyyy'}}</span></li>
                                    <li class="mobile">Mês (%): <span>{{application.profitabilities.month}}</span></li>
                                    <li class="mobile">2016 (%): <span>{{application.profitabilities.year}}</span></li>
                                    <li class="mobile">12 M (%): <span>{{application.profitabilities.m12}}</span></li>
                                    <li class="mobile">Aplicação mínima (R$): <span>{{application.operability.minimum_initial_application_amount}}</span></li>
                                    <li class="mobile">Prazo de Resgate: <span>{{application.operability.retrieval_liquidation_days_str}}</span></li>
                                    <li>Cotização da aplicação: <span>{{ application.operability.application_quotation_days_str}}</span></li>
                                    <li>Cotização do resgate: <span>{{ application.operability.retrieval_quotation_days_str}} ({{ application.operability.retrieval_quotation_days_type}})</span></li>
                                    <li>Liquidação do resgate: <span>{{ application.operability.retrieval_liquidation_days_str }} ({{ application.operability.retrieval_liquidation_days_type }})</span></li>
                                    <li>Taxa de administração: <span>{{ application.fees.administration_fee }}</span></li>
                                    <li class="know"><a href="#">Conheça mais informações sobre este fundo</a></li>
                                    <li>CNPJ do fundo: <span>{{ application.cnpj }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr  ng-repeat-end ></tr>
                
                <tr ng-repeat-end></tr>
                <tr ng-repeat-end></tr>
               
            </table>
        </div>

        <div class="grid-block legend card medium-6">
            <div class="grid-block">
                <ul>
                    <h5>LEGENDA</h5>
                    <li>
                        <i class="icon-star"></i> Fundo para investidor qualificado
                    </li>
                    <li>
                        <i class="icon-check"></i> Você já investe neste fundo
                    </li>
                    <li>
                        <i class="icon-info"></i> Entenda o resgate deste fundo
                    </li>
                    <li>
                        <i class="icon-denied"></i> Fundo fechado para aplicação
                    </li>
                    <li>
                        <i class="icon-apply"></i> Aplicar neste fundo
                    </li>
                </ul>  
            </div>  
        </div>
    </div>
    <div id="sidebar" class="grid-block medium-3 order-1 medium-order-2">
        <div class="card">
            <ul>
                <li ng-repeat="(k, type) in sidebar" class="category-li">   
                    <div class="category" >
                        <input type="checkbox" name="type" value="{{ type.name }}"  ng-model="type.selected" ng-change="selectType(type)">
                        <label for="type-{{ k }}">{{ type.name }}</label> <span class="plus" ng-click="toggleSidebarSubMenu($event)"></span>
                    </div>    
                    <ul class="secondary">
                        <li ng-repeat="(key, class) in type.classes"><input type="checkbox" name="classCheckbox" ng-change="selectClass(class.name, class.selected)" ng-model="class.selected" value="{{ class.name }}">{{ class.name }}</li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</div>