/*
    Every SCSS files will be injected into main HTML page
*/
body {
  background: #eee;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #444; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none;
    font-size: 13px;
    color: #444; }

.banner {
  height: 327px;
  background: url("../images/banner-bg.jpg");
  width: 100%;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 50px; }
  @media screen and (max-width: 40rem) {
    .banner {
      padding-top: 40px;
      height: 215px; } }
  .banner h1 {
    font-family: "Roboto Slab", serif;
    font-size: 48px;
    color: #fff; }
    @media screen and (max-width: 40rem) {
      .banner h1 {
        font-size: 30px; } }
  .banner h2 {
    font-size: 25px;
    color: #fff;
    margin-top: 40px; }
    @media screen and (max-width: 40rem) {
      .banner h2 {
        font-size: 15px; } }

.title-risk {
  text-align: center; }

.risk-filter {
  margin: 0 auto; }
  .risk-filter div.min, .risk-filter div.max {
    display: inline-block;
    font-size: 11px; }
  .risk-filter ul {
    display: inline-block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px; }
    .risk-filter ul li {
      display: inline-block;
      width: 7px;
      cursor: pointer;
      position: relative; }
      .risk-filter ul li:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #444;
        display: block;
        bottom: -10px;
        left: -5px;
        position: absolute;
        display: none; }
      .risk-filter ul li.selected:after {
        display: block; }
      .risk-filter ul li.risk-1 {
        height: 18.25px;
        background: #bcebfb; }
      .risk-filter ul li.risk-2 {
        height: 19.5px;
        background: #9ef1dd; }
      .risk-filter ul li.risk-3 {
        height: 20.75px;
        background: #b0ec76; }
      .risk-filter ul li.risk-4 {
        height: 22px;
        background: #c5f447; }
      .risk-filter ul li.risk-5 {
        height: 23.25px;
        background: #e3f43b; }
      .risk-filter ul li.risk-6 {
        height: 24.5px;
        background: #f7f03b; }
      .risk-filter ul li.risk-7 {
        height: 25.75px;
        background: #f5db33; }
      .risk-filter ul li.risk-8 {
        height: 27px;
        background: #eeba2b; }
      .risk-filter ul li.risk-9 {
        height: 28.25px;
        background: #e48720; }
      .risk-filter ul li.risk-10 {
        height: 29.5px;
        background: #df5e16; }
      .risk-filter ul li.risk-11 {
        height: 30.75px;
        background: #db0e00; }
      .risk-filter ul li.risk-12 {
        height: 32px;
        background: #9b1b1b; }

.container {
  padding: 20px; }
  .container .filters {
    width: 100%;
    padding: 10px; }
    .container .filters div {
      padding: 5px; }
  .container .inputs {
    padding: 15px;
    background: #fafafa; }
    .container .inputs input[type=range] {
      -webkit-appearance: none;
      margin: 18px 0;
      width: 100%; }
    .container .inputs input[type=range]:focus {
      outline: none; }
    .container .inputs input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      animate: 0.2s;
      background: #dfdfdf;
      border-radius: 1.3px;
      border: 0.2px solid #dfdfdf; }
    .container .inputs input[type=range]::-webkit-slider-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 3px solid #000000;
      height: 14px;
      width: 14px;
      border-radius: 30px;
      background: #ffffff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -5px; }
    .container .inputs input[type=range]:focus::-webkit-slider-runnable-track {
      background: #dfdfdf; }
    .container .inputs input[type=range]::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      animate: 0.2s;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      background: #3071a9;
      border-radius: 1.3px;
      border: 0.2px solid #010101; }
    .container .inputs input[type=range]::-moz-range-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 1px solid #000000;
      height: 36px;
      width: 16px;
      border-radius: 3px;
      background: #ffffff;
      cursor: pointer; }
    .container .inputs input[type=range]::-ms-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent; }
    .container .inputs input[type=range]::-ms-fill-lower {
      background: #2a6495;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
    .container .inputs input[type=range]::-ms-fill-upper {
      background: #3071a9;
      border: 0.2px solid #010101;
      border-radius: 2.6px;
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; }
    .container .inputs input[type=range]::-ms-thumb {
      box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      border: 1px solid #000000;
      height: 36px;
      width: 16px;
      border-radius: 3px;
      background: #ffffff;
      cursor: pointer; }
    .container .inputs input[type=range]:focus::-ms-fill-lower {
      background: #3071a9; }
    .container .inputs input[type=range]:focus::-ms-fill-upper {
      background: #367ebd; }
  .container .time-limit {
    color: #8d8d8d;
    padding: 10px 0;
    font-size: 11px; }
  .container .search input {
    border: none;
    border-bottom: 1px solid #444;
    font-size: 13px;
    width: 60%;
    padding-left: 0; }
    .container .search input:focus {
      border-color: #0d548b; }
    .container .search input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #444; }
    .container .search input::-moz-placeholder {
      /* Firefox 19+ */
      color: #444; }
    .container .search input:-ms-input-placeholder {
      /* IE 10+ */
      color: #444; }
    .container .search input:-moz-placeholder {
      /* Firefox 18- */
      color: #444;
      font-weight: 600; }
  .container .search i.icon-search {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../images/icons/search.png");
    margin-top: 10px;
    margin-left: -20px; }

.title {
  width: 100%;
  color: #444;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 600; }
  @media screen and (max-width: 40rem) {
    .title {
      width: auto; } }

#sidebar {
  padding-left: 15px; }
  @media screen and (max-width: 40rem) {
    #sidebar {
      padding-left: 0; } }
  #sidebar .card {
    width: 100%;
    height: fit-content; }
  #sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    #sidebar ul li {
      margin: 0;
      list-style: none; }
  #sidebar li.category-li .category {
    background: #fafafa;
    padding: 10px;
    color: #444;
    font-size: 13px;
    font-weight: 600;
    position: relative; }
    #sidebar li.category-li .category span {
      display: block;
      position: absolute;
      padding: 0 0 0px 20px;
      right: 10px;
      top: 2px;
      font-size: 20px;
      color: #bcbcbc;
      cursor: pointer; }
      #sidebar li.category-li .category span:before {
        content: '+'; }
  #sidebar li.category-li ul.secondary {
    display: none; }
    #sidebar li.category-li ul.secondary li {
      padding: 10px;
      font-size: 13px;
      color: #444;
      border-bottom: 1px solid #ededed; }
      #sidebar li.category-li ul.secondary li input {
        margin-right: 5px; }
  #sidebar li.category-li.opened ul.secondary {
    display: block; }
  #sidebar li.category-li.opened .category span:before {
    content: '-'; }

.table-card {
  padding: 10px 0 0 0 !important;
  margin-bottom: 15px; }

.has-tip {
  position: relative; }
  .has-tip .tooltip {
    display: none;
    position: absolute;
    top: 22px;
    left: -70px;
    background: white;
    border: 1px solid #444;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
    z-index: 999;
    width: 200px; }
    .has-tip .tooltip:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #444;
      display: block;
      top: -6px;
      left: 72px;
      position: absolute; }
  .has-tip:hover .tooltip {
    display: block; }

table {
  width: 100%; }
  @media screen and (max-width: 40rem) {
    table tr td:nth-of-type(2), table tr td:nth-of-type(3), table tr td:nth-of-type(4), table tr td:nth-of-type(5), table tr td:nth-of-type(6), table tr td:nth-of-type(7), table tr th:nth-of-type(2), table tr th:nth-of-type(3), table tr th:nth-of-type(4), table tr th:nth-of-type(5), table tr th:nth-of-type(6), table tr th:nth-of-type(7) {
      display: none; } }
  table tr {
    border-bottom: 1px solid #eee; }
    table tr:last-of-type {
      border-bottom: none; }
    table tr:first-of-type {
      border: none; }
      table tr:first-of-type th {
        padding: 20px 5px;
        font-size: 13px; }
        table tr:first-of-type th:first-of-type {
          padding-left: 20px; }
    table tr.fund-row {
      cursor: pointer; }
      table tr.fund-row:hover {
        background: #fafafa; }
    table tr.conteudo .info {
      padding: 10px 20px;
      justify-content: flex-end; }
      @media screen and (max-width: 40rem) {
        table tr.conteudo .info {
          justify-content: flex-start; } }
      table tr.conteudo .info ul li {
        font-weight: 600; }
        table tr.conteudo .info ul li.mobile {
          display: none; }
          @media screen and (max-width: 40rem) {
            table tr.conteudo .info ul li.mobile {
              display: block; } }
        table tr.conteudo .info ul li.know {
          margin-top: 50px;
          margin-bottom: 15px; }
        table tr.conteudo .info ul li a {
          color: #444;
          text-decoration: underline; }
        table tr.conteudo .info ul li span {
          font-weight: 300; }
    table tr th, table tr td {
      text-align: right;
      padding: 10px 20px;
      font-size: 13px;
      line-height: 1.2;
      color: #444; }
      table tr th .type, table tr td .type {
        color: #9d9d9d;
        font-size: 11px;
        margin-top: 3px; }
      table tr th:first-of-type, table tr td:first-of-type {
        text-align: left;
        padding: 0px 20px 0px 0px; }
    table tr.disabled td {
      color: #bcbcbc; }
      table tr.disabled td .type {
        color: #bcbcbc; }
    table tr.major td, table tr.minor td {
      padding: 20px;
      font-weight: 600; }
    table tr.major {
      background: #ededed; }
    table tr td .fund {
      margin-right: 15px;
      padding: 10px;
      border-left: 8px solid transparent; }
      table tr td .fund.risk-1 {
        border-color: #bcebfb; }
      table tr td .fund.risk-2 {
        border-color: #9ef1dd; }
      table tr td .fund.risk-3 {
        border-color: #b0ec76; }
      table tr td .fund.risk-4 {
        border-color: #c5f447; }
      table tr td .fund.risk-5 {
        border-color: #e3f43b; }
      table tr td .fund.risk-6 {
        border-color: #f7f03b; }
      table tr td .fund.risk-7 {
        border-color: #f5db33; }
      table tr td .fund.risk-8 {
        border-color: #f7f03b; }
      table tr td .fund.risk-9 {
        border-color: #e48720; }
      table tr td .fund.risk-10 {
        border-color: #df5e16; }
      table tr td .fund.risk-11 {
        border-color: #db0e00; }
      table tr td .fund.risk-12 {
        border-color: #9b1b1b; }

i.icon-info {
  background: url("../images/icons/info.png");
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer; }

i.icon-apply {
  background: url("../images/icons/apply.png");
  width: 21px;
  height: 21px;
  display: inline-block;
  cursor: pointer; }

i.icon-star {
  background: url("../images/icons/star.png");
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer; }

i.icon-denied {
  background: url("../images/icons/denied.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer; }

i.icon-check {
  background: url("../images/icons/check.png");
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer; }

.legend {
  padding: 10px; }
  .legend ul {
    padding: 10px 0px; }
    .legend ul h5 {
      font-size: 13px;
      font-weight: 600;
      color: #444; }
    .legend ul li {
      padding: 5px; }
      .legend ul li i {
        margin-right: 15px;
        margin-bottom: -4px; }
